<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cat.dao.SchoolsMapper">

    <select id="getCount" parameterType="Schools" resultType="java.lang.Long">
        select count(id) from schools where 1 = 1
        <if test="schools.sname != null">
            and sname like CONCAT('%',#{schools.sname},'%')
        </if>

        <if test="schools.provice != null">
            and provice = #{schools.provice}
        </if>

        <if test="schools.rank != null">
            and rank like CONCAT('%',#{schools.rank},'%')
        </if>

        <if test="schools.type != null">
            and type like CONCAT('%',#{schools.type},'%')
        </if>
    </select>

    <select id="findBy" parameterType="Schools" resultType="Schools">
        select * from schools where 1 = 1
        <if test="schools.sname != null">
            and sname like CONCAT('%',#{schools.sname},'%')
        </if>

        <if test="schools.sid != null">
            and sid = #{schools.sid}
        </if>

        <if test="schools.provice != null">
            and provice = #{schools.provice}
        </if>

        <if test="schools.rank != null">
            and rank like CONCAT('%',#{schools.rank},'%')
        </if>

        <if test="schools.type != null">
            and type like CONCAT('%',#{schools.type},'%')
        </if>

        <if test="schools.page != null">
            order by ranking ASC limit #{schools.offLeft}, #{schools.offRight}
        </if>

        <if test="schools.page == null">
            order by ranking ASC
        </if>
    </select>
</mapper>
