<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cat.dao.YearScoreMapper">

    <select id="getCount" parameterType="YearScore" resultType="java.lang.Long">
        select count(id) from year_score where 1 = 1

        <if test="ys.sname != null">
            and sname = #{ys.sname}
        </if>

        <if test="ys.province != null">
            and province = #{ys.province}
        </if>

        <if test="ys.type != null">
            and type = #{ys.type}
        </if>

        <if test="ys.year != null">
            and year = #{ys.year}
        </if>

        <if test="ys.stype != null">
            and stype like CONCAT('%',#{ys.stype},'%')
        </if>
    </select>

    <select id="findBy" parameterType="YearScore" resultType="YearScore">
        select * from year_score where 1 = 1

        <if test="ys.sname != null">
            and sname = #{ys.sname}
        </if>

        <if test="ys.province != null">
            and province = #{ys.province}
        </if>

        <if test="ys.type != null">
            and type = #{ys.type}
        </if>

        <if test="ys.year != null">
            and year = #{ys.year}
        </if>

        <if test="ys.stype != null">
            and stype like CONCAT('%',#{ys.stype},'%')
        </if>

        <if test="ys.page != null">
            limit #{ys.offLeft}, #{ys.offRight}
        </if>
    </select>

    <select id="deduplication" parameterType="YearScore" resultType="YearScore">
        select DISTINCT sname from year_score where 1 = 1

        <if test="ys.stype != null">
            and stype like CONCAT('%',#{ys.stype},'%')
        </if>

        <if test="ys.province != null">
            and province = #{ys.province}
        </if>

        <if test="ys.page != null">
            limit #{ys.page}, #{ys.pageSize}
        </if>
    </select>

</mapper>
